<!-- Holy Grail Layout
The Holy Grail Layout is a classic CSS problem with various solutions presented over time. If you’re unfamiliar with the history of the Holy Grail layout, this A List Apart article offers a pretty good summary and links to a few of the more well-known solutions.

At its core, the Holy Grail Layout is a page with a header, footer, and three columns. The center column contains the main content, and the left and right columns contain supplemental content like ads or navigation.

Most CSS solutions to this problem aim to meet a few goals:

They should have a fluid center with fixed-width sidebars.
The center column (main content) should appear first in the HTML source.
All columns should be the same height, regardless of which column is actually the tallest.
They should require minimal markup.
The footer should “stick” to the bottom of the page when content is sparse.
Unfortunately, because of the nature of these goals and the original limitations of CSS, none of the classic solutions to this problem were ever able to satisfy all of them.

With Flexbox, a complete solution is finally possible.

The HTML
<body class="HolyGrail">
  <header>…</header>
  <div class="HolyGrail-body">
    <main class="HolyGrail-content">…</main>
    <nav class="HolyGrail-nav">…</nav>
    <aside class="HolyGrail-ads">…</aside>
  </div>
  <footer>…</footer>
</body>
The CSS
Getting the center content row to stretch and the footer to stick to the bottom is solved with the same technique shown in the Sticky Footer example. The only difference is the center row of the Holy Grail layout (.HolyGrail-body) needs to be display:flex in order to properly arrange its children.

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}
Styling three equal-height columns with a fluid center and fixed-width sidebars is just as easy:

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}
Note:  the CSS required to make this demo work cross-browser is slightly different from the CSS shown in the examples above, which assume a fully spec-compliant browser. See the comments in the source for more details.
Being Responsive
The Holy Grail layout came from an era of Web design when pretty much everyone was browsing on a computer. But with the increasing number of mobile devices and the rising popularity of responsive design, the Holy Grail layout has gone mostly out of fashion.

Either way, with Flexbox, creating a mobile-first and mobile-friendly version of the Holy Grail layout is easy. The gist is to simply make the center section flex-direction:column by default and then flex-direction:row for larger screens.

Here’s a complete example that is responsive and mobile-first. You can also resize this browser window to see it in action.

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-nav {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
View the full source for the HolyGrail component used in this demo on Github.


https://codepen.io/catheraaine/pen/vGemrK
HTML
<header class="header">
    <h1>Title</h1>
  </header>

  <div class="content">
    <main class="main">
      <h2>Main Content</h2>
      <p> This is my solution to a "Holy Grail" CSS layout. My version also snaps into flex box at a small screen width.

        <p> The rules of the "Holy Grail" are as follows: </p>
        <ol>
          <li>Have a fluid center with fixed width sidebars. </li>
          <li>Allow the center column to appear first in the source.</li>
          <li>Allow any column to be the tallest, require only a single extra div of markup.</li>
          <li>Require very simple CSS, with minimal hacks patches.</li>
        </ol>
      <p>Read more at: <a href="http://alistapart.com/article/holygrail" title="A List Apart dot com">AListApart.com</a></p>
    </main>
    <aside class="left">
      <h3>Navigation</h3>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>RSS</li>
        <li>Contact</li>
      </ul>
    </aside>
    <aside class="right">
      <h3>Archive?<h3>
    </aside>
  </div>

  <footer>
    Footer
  </footer>


  CSS

  body {
    font-family: Georgia, serif;
    color: #101096;

  /* These two properties are to reset codepen styles, and are not necessary in a general context. */
    padding: 0;
    margin: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 20rem;
  }

  header {
    background-color: #7dd8d6;
    padding: 0.5rem 1rem;

  }

  main {
    background-color: #66FFB2;
    width: 100%;
    box-sizing: border-box;
    order: 2;
    padding: 0.5rem;
  }

  .left,
  .right {
    background-color: #49b4e7;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
  }

  .left {
    order: 1;
  }

  .right {
    order: 3
  }

  .left ul {
    list-style: none;
    padding: 0;
  }

  .left li {
    padding: 0.2rem;
    display: inline-block;
  }

  footer {
    background-color: #7dd8d6;
    padding: 0.5rem;
    clear: both;
    margin: 0;

  }

  @media screen and (min-width: 700px) {
    .content {
      display: block;
      height: calc(100vh - 8em);
      overflow-y: hidden;
      margin: 0;
    }
    main {
      position: relative;
      float: left;
      width: 100%;
      padding: 0.2rem 13.5rem;
      height: 100%;
    }
    .left {
      position: relative;
      float: left;
      margin-left: -100%;
      width: 12.5rem;
      height: 100%;

    }
    .right {
      position: relative;
      float: right;
      margin-left: -100%;
      width: 12.5em;
      height: 100%;

    }

    .left li {
      display: block;
    }

    header {
      height: 6em;
    }
    footer {
      height: 2em;
    }
  }


https://codepen.io/geoffgraham/pen/yPYKzw

<div class="grid">
  <header>
    Header
  </header>

  <aside class="sidebar-left">
    Left Sidebar
  </aside>

  <article>
    Article
  </article>

  <aside class="sidebar-right">
    Right Sidebar
  </aside>

  <footer>
    Footer
  </footer>
</div>
.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  article {
    grid-column: 1 / 4;
  }
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header,
aside,
article,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}


https://codepen.io/thedigitalman/pen/AVzpQG

<header class="header flexbox">
	<span class="flexbox-item angleBrackets">header</span>
</header>

<main class="flexbox">
	<nav class="nav flexbox-item angleBrackets">nav</nav>

	<section class="section flexbox-item angleBrackets">section</section>

	<aside class="aside flexbox-item angleBrackets">aside</aside>
</main>

<footer class="footer flexbox">
	<span class="flexbox-item angleBrackets">footer</span>
</footer>

<header class="header flexbox">
	<span class="flexbox-item angleBrackets">header</span>
</header>

<main class="flexbox">
	<nav class="nav flexbox-item angleBrackets">nav</nav>

	<section class="section flexbox-item angleBrackets">section</section>

	<aside class="aside flexbox-item angleBrackets">aside</aside>
</main>

<footer class="footer flexbox">
	<span class="flexbox-item angleBrackets">footer</span>
</footer>













 -->
